<div class="media col-6">
    <img src="{{image}}">
    <h3>{{title}}</h3>
    <a href="/detail/{{creator._id}}"> 
        <img src="{{creator.image}}" class="mr-3" alt="cook">
        <div class="media-body">
            <h5 class="mt-0">{{creator.name}}</h5>
        </div>
    </a>
</div>