<div class="media col-6">
    <h3>{{title}}</h3>
    <img src="{{image}}" class="img-thumbnail">

    <a href="/detail/{{creator._id}}">
        <div class="media-body">
             <img src="{{creator.image}}" id="cook" class="img-thumbnail" alt="cook">
            <h5 class="mt-0">{{creator.name}}</h5>
        </div>
    </a>
</div>