<div>
    <img src="{{image}}" alt="Something">
    <h1>{{title}}</h1>
    <div class="media-body">
        <h2 class="mt-0">{{title}}<br> from 
         {{creator.name}} </h2>
         <a href="/cooks-details/{{creator._id}}">
         <img src="{{creator.image}}" alt="">
         </a>
        {{recipes.description}}
    </div>
</div>
