<h3>{{cookHbs.name}}</h3>
<img src="{{cookHbs.image}}" alt="{{cookHbs.name}}">

<a href="/cook-detail/delete/{{cookHbs._id}}">
    <button>Delete</button>
</a>
<a href="/cook-detail/update/{{cookHbs._id}}">
    <button>Update</button>
</a>
