<div class="recipedetail">
<h1>{{recipe.title}}</h1>
<img src="{{recipe.image}}" alt="" id="recipeimage"> 
<h2>Recipe by: {{recipe.creator.name}}</h2>
<img src="{{recipe.creator.image}}" alt="" id="cookimage">
<br>
<button onclick="window.location.href = '/cook/edit/{{recipe.creator.id}}';">Edit Cook</button> <button onclick="window.location.href = '/cook/delete/{{recipe.creator.id}}';">Delete cook</button>
<h3>Cuisine: {{recipe.cuisine}}, Difficulty: {{recipe.level}}</h3>
<p>{{recipe.ingredients}}</p>
<h5>Duration: {{recipe.duration}} Minutes</h5>
</div>