<form action="/cooks/update/{{cookHbs._id}}" method="POST">
    <label for="name">name:</label>
    <input type="text" name="name" value="{{cookHbs.name}}" placeholder="{{cookHbs.name}}">
    <label for="image">image:</label>
    <input type="text" name="image" value="{{cookHbs.image}}" placeholder="{{cookHbs.image}}">
    <button type="submit">Edit</button>
</form>