<h1>Recipe page</h1>

<img class="img-fluid" src="{{recipe.image}}" alt="">
<h3>{{recipe.title}}</h3>
<p>Level: {{recipe.level}}</p>
<p>Cuisine: {{recipe.cuisine}}</p>
<p>Creator: <img src="{{recipe.creator.image}}" alt=""> {{recipe.creator.name}}</p>
<p>Duration: {{recipe.duration}}minutes</p>
<p>Ingredients:
    <ul>
        {{#each recipe.ingredients}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</p>
<div>
    <h4>Reviews</h4>
    {{#each recipe.reviews}}
        <p>{{this.title}} </p>
        <p>Score: {{this.score}}</p>
        <p>{{this.comment}}</p>
        <p>User: {{this.user}}</p>
    {{/each}}
</div>
<a href="/recipes/delete/{{recipe._id}}">Delete the recipe</a>
<a href="/recipes/update/{{recipe._id}}">Update recipe</a><br>
<a href="/recipes/reviews/{{recipe._id}}">Add review</a>