<div class="container margin-container">
  <form action="/recipe/updateRecipe" method="post">
    <div class="row m-2">
      <h1 class="form-title">Update Recipe</h1>
    </div>
    <div class="row m-2">
      <label for="">Title: </label>
      <input value="{{recipe.title}}" type="text" name="title">
    </div>
    <div class="row m-2">
      <label for="">Level:  </label>
      <select name="level" type="text" class="form-control" multiple="{{levels.length}}">
        {{#each levels}}
          {{#if isCurrent}}
            <option selected value="{{this.level}}">{{this.level}}</option>
          {{else}}
            <option value="{{this.level}}">{{this.level}}</option>
          {{/if}}
        {{/each}}
      </select>    
    </div>
    <div class="row m-2">
      <label for="">Cuisine: </label>
        <input value="{{recipe.cuisine}}" type="text" name="cuisine">
    </div>
    <div class="row m-2">
      <label for="">Dishtype: </label>
      <select name="dishType" type="text" class="form-control" multiple="{{dishes.length}}">
        {{#each dishes}}
          {{#if isCurrent}}
            <option selected value="{{this.dish}}">{{this.dish}}</option>
          {{else}}
            <option value="{{this.dish}}">{{this.dish}}</option>
          {{/if}}
        {{/each}}
      </select>    
    </div>
    <div class="row m-2">
      <label for="">Duration: </label>
      <input value="{{recipe.duration}}" type="number" name="duration">
    </div> 
    <div class="row m-2">
      <label for="">Creator: </label>
        <select name="creator" type="text" class="form-control" multiple="{{cooks.length}}">
            {{#each cooks}}
              {{#if isCurrent}}
                <option selected value="{{this.id}}">{{this.name}}</option>
              {{else}}
                <option value="{{this.id}}">{{this.name}}</option>
              {{/if}}
            {{/each}}
        </select>    
    </div> 
    <div class="row m-2">
      <label for="">Image: </label>
      <input value="{{recipe.image}}" type="text" name="image">
    </div> 
      <div class="row m-2">
          <input value="{{recipe._id}}" type="hidden" name="_id">
    </div> 
    <div class="row m-2">
      <input type="submit" value="Submit"></input>
    </div>
  </form>
</div>