{{#each recipeHbs}}
    <h3>{{title}}</h3>
    <img src="{{image}}" alt="">
    <p>by {{creator.name}}</p>
    <p>Difficulty: {{level}}</p>
    <p>Duration: {{duration}}</p>
    <img src="{{creator.image}}" alt="">
{{/each}}


