<section class="update">
    <form action="/recipes/update/{{recipe._id}}" method="post" id="update-recipe" enctype="multipart/form-data">


        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" value="{{recipe.title}}" placeholder="{{recipe.title}}" class="form-control" size="90">
        </div>
        <div class="form-group">
            <label for="cuisine">Cuisine</label>
            <input type="text" name="cuisine" value="{{recipe.cuisine}}" placeholder="{{recipe.cuisine}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="duration">Duration</label>
            <input type="number" name="duration" value="{{recipe.duration}}" placeholder="{{recipe.duration}}" class="form-control">
        </div>
        <div class="form-group">
            <img src="/{{recipe.image}}" alt='image' class="img-fluid" id="update-form-img">
            <label for="recipe-img">Image</label>
            <input type="text" name="imageUrl" value="{{recipe.image}}" class="form-control" hidden>
            <input type="file" name="recipe-img" />
        </div>
        <div class="form-group">
            <label for="level">Choose a Level</label>
            <select name="level" id="level" form="update-recipe" class="form-control">
                <option value="Easy Peasy">Easy Peasy</option>
                <option value="Amateur Chef">Amateur Chef</option>
                <option value="UltraPro Chef">UltraPro Chef</option>
            </select>
        </div>
        <div class="form-group">
            <label for="dishType">Dish Type</label>
            <select name="dishType" id="dishType" form="update-recipe" class="form-control">
                <option value="Breakfast">Breakfast</option>
                <option value="Dish">Dish</option>
                <option value="Snack">Snack</option>
                <option value="Drink">Drink</option>
                <option value="Dessert">Dessert</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="creator">Cook</label>
            <select name="creator" id="creator" form="update-recipe" class="form-control">
                {{#each cooks}}
                    {{#if ( isEqual ../recipe.creator._id this._id)}}
                        <option value="{{this._id}}" selected>{{this.name}}</option>
                    {{else}}
                        <option value="{{this._id}}">{{this.name}}</option>
                    {{/if}} 
                {{/each}}
            </select>
            {{!-- <input type="text" name="creator" value="{{recipe.creator._id}}" placeholder="{{recipe.creator.name}}" class="form-control"> --}}
        </div>
        <button type="submit" formmethod="POST" class="btn btn-primary">Update Recipe</button>
    </form>

</section>

