<div class="container">
    <h1>Our chefs are:</h1>
    <div class="row">
            {{#each cooks}}
                <div class="col-4">
                    <img src="{{image}}" alt="{{name}} img">
                    <h5>{{name}}</h5>
                    <h6><a href="/cooks/deleteCook?id={{_id}}">Delete Chef</a></h6>
                    <h6><a href="/cooks/updateCook?id={{_id}}">Update Chef</a></h6>
                </div>
            {{/each}}
    </div>
</div>  